*{
	padding:0;margin: 0;
}
a{
    text-decoration: none;
        color: #1f1091;

    font-size: 18px;
}
body,html{
	width: 100%;
	height: 100%;
}
.container{
/*padding: 20px 0;*/
	width: 100%;
	background: #ccc;
	min-height: 100%;
}
.container h1{
	text-align: center;
	font-family: tahoma;
	font-size: 24px;
	font-weight: 900;
}
.container .left{
	float: left;
}
.clear_both{
	clear: both;
}
.container .content{

	overflow: hidden;
     width: 900px; 
	box-sizing: border-box; 
 
	box-shadow: 1px 2px 4px #333;
	margin:auto;
	background: #fff;
}
.top {
    display:  flex;
    height: 110px;
    width:  900px;
    background: #260751;
}

.top_left {
    margin-left: 40px;
    padding-top: 5px;
    width: 645px;
}

.top_right {
        width: 245px; 
}

.top_right h1 {
    font-family: Broadway;
    padding-top: 35px;
    color: #d1d1d1;
    font-size: 25px;
}
 

p.carrer {
    font-family: Cambria Math;
    color: #d1d1d1;
    padding-left: 48px;
}

.center {
    display: flex;
}
.left_center {
    width: 645px;
    padding: 14px;
    box-sizing: border-box;
    background:  #fff;
    border-right: 5px solid #3f1973;
}

.right_center {
	color: #fff;
    width: 255px;
    padding: 15px 15px 15px 10px;
    box-sizing: border-box;
    background: #260751;
}
.muctieu h3 {
    color: #5d5151;
    text-align: center;
    font-family: UTM Rockwell;
    position: relative;
} 

.muctieu h3:before {
    content: '';
    width: 230px;
    height: 2px;
    background: #5d5151;
    position: absolute;
    top: 12px;
    right: 10px;
}
.muctieu h3:after {
    content: '';
    width: 240px;
    height: 2px;
    background: #5d5151;
    position: absolute;
    top: 12px;
    left: 0px;
}

.right_1_sidebar h3 {
    font-family: Cambria Math;
    text-transform: uppercase;
    font-size: 18px;
    position:  relative;
}

.right_1_sidebar h3:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 121px;
    top: 10px;
    background: #fff;
    right: 11px;
}
.right_1_sidebar:nth-child(2) h3:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 141px;
    top: 10px;
    background: #fff;
    right: 11px;
}
.right_1_sidebar:nth-child(3) h3:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 131px;
    top: 10px;
    background: #fff;
    right: 11px;
}
.content_right_1{ 
    background: #3f1973;
    padding: 10px;
    width: 228px;
    box-sizing: border-box; 
}
 
.new_list img {
    /* padding-top: 15px; */
    vertical-align: middle;
}

.content_right_1 span {
    font-size: 14px;
    font-family: UTM Avo;
        color: #fff;

}

.content_right_1 {
    margin-top: 13px;
}
.new_list{
	margin-top: 10px;
}


.right_1_sidebar {
    margin-top: 11px;
    font-family: Sitka;
} 

.skills {
    width: 201px;
    background: #756091;
    height: 14px;
    position: relative;
}

.skills.skill_html:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 89%;
    height: 100%;
}

.skills.skill_bts:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 89%;
    height: 100%;
}

 
.skills.skill_php:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 89%;
    height: 100%;
}

.skills.skill_js:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
        width: 65%;

    height: 100%;
}

 
.skills.skill_laravel:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 74%;
    height: 100%;
}

.skills.skill_wordpress:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 91%;
    height: 100%;
}

 
.skills.skill_ajax:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 75%;
    height: 100%;
}

.skills.skill_pts:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 93%;
    height: 100%;
}

 
.skills.skill_eng:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 40%;
    height: 100%;
}

.skills.skill_team:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #c1b7cd;
    width: 89%;
    height: 100%;
}

 

.noidung_muctieu {
	    padding-top: 10px;
    font-size: 19px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: Sitka;
    color: #2c2626;
}

.noidung_hocvan {
    display: flex;
    margin-left: 25px; 
    margin-bottom: 24px;
}

.hocvan h3 {
    color: #5d5151;
    text-align: left;
    font-family: UTM Rockwell; 
    margin-bottom: 10px;
    position: relative;
} 
.hocvan {
    margin-top: 17px;
}

.hocvan h3 img {
    /* margin-left: 10px; */
    vertical-align: text-bottom;
    padding-right: 6px;
}

.hocvan_left {
    width: 450px;
     display: flex; 
}


.hocvan_left_bottom {
    margin-left: 5px;
}

.hocvan_left_bottom h5 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    font-weight: 0;
    font-weight: 100;
}

.hocvan_left .hocvan_left_bottom i {
    font-size: 13px;
}

.hocvan_right strong i {
    font-family: Sylfaen;
    color: #2c2626;
    font-size: 17px;
}
.hocvan h3:before {
    position: absolute;
    top: 0;
    content: "";
    right: 9px;
    height: 2px;
    width: 459px;
    top: 22px;
    background: #a09696;
}

.kinhnghiem h3 {
    color: #5d5151;
    text-align: left;
    font-family: UTM Rockwell; 
    margin-bottom: 10px;
    position: relative;
   text-transform: uppercase;
} 
.kinhnghiem {
    margin-top: 17px;
}

.kinhnghiem h3 img {
    /* margin-left: 10px; */
    vertical-align: text-bottom;
    padding-right: 6px;
}

.kinhnghiem_left {
    width: 450px;
     display: flex; 
}


.kinhnghiem_left_1 {
    margin-left: 5px;
}

.kinhnghiem_left_1 h5 {
        font-style: italic;
    font-size: 18px;
    font-weight: 0;
    font-weight: 900;
    font-family: Sitka;
}

.kinhnghiem_left .kinhnghiem_left_1 i {
    font-size: 13px;
    font-family: Sitka;
        color: #917b7b;

}

.kinhnghiem_right_1 strong i {
    font-family: Sylfaen;
    color: #2c2626;
    font-size: 17px;
}
.kinhnghiem h3:before {
  position: absolute;
    top: 0;
    content: "";
    right: 9px;
    height: 2px;
    width: 294px;
    top: 19px;
    background: #a09696;
}
.noidung_kinhnghiem {
    display: flex;
    margin-left: 25px; 
    margin-bottom: 24px;
}

.mota_kinhnghiem ul li {
    list-style-type: square;
    list-style-position: inside;
    font-family: Myriad Pro;
    font-size: 19px;
    color: #006896;
}

.mota_kinhnghiem ul li span {
     font-size: 14px;
    margin-left: -10px;  
    color: #5a5252;
}

.mota_kinhnghiem {
    width: 416px;
}




.noidung_duan{
	    margin-left: 20px;

}
.duandalam h3:before {
    position: absolute;
    top: 0;
    content: "";
    right: 9px;
    height: 2px;
    width: 407px;
    top: 22px;
    background: #a09696;
}

.duandalam h3 {
    color: #5d5151;
    text-align: left;
    font-family: UTM Rockwell; 
    margin-bottom: 10px;
    position: relative;
   text-transform: uppercase;
} 

.duandalam h3 img {
    /* margin-left: 10px; */
    vertical-align: text-bottom;
    padding-right: 6px;
}

.duandalam ul li span {
	font-family: Sitka;
    font-size: 18px;
    color: #5a5252;
    font-size: 15px;
    color: #1f1091;
    font-weight: bold;
    font-style: italic;
}
.mota_kinhnghiem.mota_duan ul li span{
	    font-size: 17px;
    margin-left: -6px;
    padding-left: 10px;
    vertical-align: text-bottom;


}
.khanangkhac .mota_kinhnghiem.mota_duan ul li{
	    list-style-image: url(arrow.png);
	        margin-bottom: 10px;


}
.mota_kinhnghiem,.mota_duan ul li p{
	font-size: 13px;  

    color: #5a5252;
}
.mota_kinhnghiem,.mota_duan{
	    width: 500px;

}


.khanangkhac h3:before {
    position: absolute;
    top: -1px;
    content: "";
    right: 9px;
    height: 2px;
    width: 380px;
    top: 19px;
    background: #a09696;
}

.khanangkhac h3 {
    color: #5d5151;
    text-align: left;
    font-family: UTM Rockwell; 
    margin-bottom: 10px;
    position: relative;
   text-transform: uppercase;
} 

.khanangkhac {
	margin-top: 20px;
}
.khanangkhac h3 img {
    /* margin-left: 10px; */
    vertical-align: text-bottom;
    padding-right: 6px;
}
.mota_kinhnghiem ul li{
	padding-left: 0px !important;
}

.hidden_pow{
	display: none;
}
body{ 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
